<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FastReport.OpenSource" version="2024.2.14" targetFramework="native" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.1652.0" targetFramework="native" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="native" />
</packages>